header .logz a {
    background: url(../images/log.png) no-repeat center;
    display: block;
    margin: 0;
    padding: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 92px;
    height: 15px;
    background-size: 92px 15px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #F5F3EF;
    text-transform: uppercase;
    font-style: "Baloo 2";
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FFDE59;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.pace .pace-progress {
    background: #E73881;
}

#loader:before {
    border-left: 11px solid #FFDE59
}
#preloader {
    background-color:#000000;
}

.section-intro h5{
    color:#FFDE59;
    font-size: 25px;
    font-family: "Monoton";

}
.intro-content h5{
    font-size: 70px;}

.intro-content h5{
    color:#FFDE59;
    font-size: 3.6rem;
    margin-bottom: 20px;
    font-family: "Monoton", serif
}


#intro {
    background: url(../images/fond.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
}
.fa-google:before {
    content: "\f1a0";
    color: #FFDE59;
}
i.fa-facebook:before {
    color: #FFDE59;}

i.fa-linkedin:before {
    color:#FFDE59;
}

.intro-content .button {
    border-color: #FFDE59;
    

}

.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
    background-color: #E73881;
}
p.lead{
    color: rgb(0, 0, 0);
}

.main-navigation li.current > a {
    background:rgb(0, 0, 0);
    color: #E73881;
}

.main-navigation li.current > a:hover {
    color:#FFDE59;
}

.main-navigation li a:hover {
    color: #FFDE59;
}

#go-top a {
    background: #E73881;
    color: #FFDE59;
}

.menu-toggle span{
    background-color: #E73881;
}

#resume .resume-header h2 {
    color: #E73881;
    text-decoration: underline;
    font-family: "Baloo_2", serif;}

#resume .timeline-ico {
    background-color: #FFDE59;
}

.section-intro h1 {
    color: #E73881;
    font-family: "Baloo_2", serif;
    font-size: 3.6rem;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}

.intro-info img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: 0.9rem 0 0 0;
    margin-top: 0.5rem;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: left
}

.intro-info .lead{
    color: rgb(48, 47, 47);
}
p.lead {
    color: rgb(48, 47, 47);}

.skill-bars li .percent90 {
        width: 90%;
    }
.skill-bars li .percent45 {
        width: 45%;
    }
.skill-bars li .percent60 {
        width: 60%;
    }
.skill-bars li .percent55 {
        width: 55%;
    }
.skill-bars li .percent45 {
        width: 45%;
    }

    .skill-bars li .progress span::after{
        border-top: 5px solid #FFDE59;
        
    }

.button.button-primary, a.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
        background: #E73881;
        color: #000000;
        font-family: "Monoton";
    }
    .button.button-primary:hover, a.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
        border-radius: 10px;
    }

    a, a:visited {
        color: rgb(245, 182, 240);
    }

.button, a.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: #E73881;
    color: #FFDE59;
    font-family : "Monoton"
}

.skill-bars li .progress span{
    color:black ;
    background-color: #FFDE59;
}

#services .section-intro h5 {
    color: #FFDE59;
}
#services .section-intro h1 {
    color: #E73881;
}
.icon-earth:before{
    color: #FFDE59;
}
.icon-window:before {
    color: #FFDE59;
}
.icon-paint-brush:before {
    color: #FFDE59;
}
.icon-chat:before {
    color: #FFDE59;
} 
.icon-image:before {
    color: #FFDE59;
}
.icon-toggles:before{
    color: #FFDE59;
}
.owl-theme .owl-controls .owl-page{
    color: #E73881;
}
#stats {
    background: #F5F3EF;
}


#contact button.submitform{
    background: #FFDE59;
}
#contact button.submitform:hover {
    background: #E73881;
}

#contact .section-intro h5 {
    color: #FFDE59;
}

#contact .section-intro h1 {
    color: #E73881;
}

#contact .section-intro p {
    color: #E73881;
}



.contact-info h5 {
    color: #FFDE59;
    font-size: 20px;
}

.grey-section {
    background: #F5F3EF;
}

header .top-bar {
    background: #F5F3EF;
    border-radius: 10px;
    min-width: 150px;
}


#contact form .form-field label {
    font-family: "lora-regular", sans-serif;
    font-size: 1.1rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: -1.2rem;
    right: 0.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0 2rem;
    margin: 0;
    color: #000000;
    background: #FFDE59;
}
#contact form .form-field label::after {
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #FFDE59;
    content: "";
}
#contact {
    background: #151515;
    }


.owl-theme .owl-controls .owl-page.active span {
    background: #FFDE59;
}

button.stroke, .button.stroke:hover{
    color:#E73881;
    border: 3px solid #FFDE59;
    border-radius: 10px;
}



input, textarea, select, pre, blockquote, figure, table, p, .fluid-video-wrapper, .ss-custom-select{
    list-style-type: circle;
}
element.style {
    list-style-type: circle;
}

h5, .h05{
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
    color: #FFDE59;
    font-size: 25px;
    font-family: "Monoton";
}

p.lead{
    font-family: "lora-regular", serif;
    font-size: 2rem;
    line-height: 1.8;
    color: #000000;
    list-style-type: circle;

}

#stats .stat-title{
    font-family: "Baloo_2", serif;
    color: black;
    font-size: 17px;
}

#stats .stat-count{
    font-family: "lora-regular", serif;
    color: #000000;
}

h1, .h01{
    font-family: "Baloo_2", serif;
    font-size: 3.6rem;
    color: #E73881;
}

h3, .h03{
    font-family: "Baloo_2", serif;
}

h2, .h2{
    font-size: 3.2rem;
}

h4, .h04{
    font-family: "Baloo_2", serif;
    font-size: 2rem;
}

#resume .timeline-header h3 {
    font-size: 2.8rem;
}

.popup-modal .link-box a{
    background: #FFDE59;
    font-family: "Monoton", serif;
    color: black;
}

.popup-modal .link-box a:hover{
    background-color: #E73881;
}

.services-list .desc{
    font-size: "lora", serif;
}

body {
    background: #F5F3EF;}

#services .overlay {
    background: #000000;
    opacity: .1;
    background: url(../images/fond.png) no-repeat center bottom;
}

.icon-phone:before{
    color: #E73881
}

.icon-mail:before {
    content: "\e96f";
    color: #E73881;
}

.icon-pin:before {
    content: "\e995";
    color:#E73881 ;
}

footer a, footer a:visited {
    color: #E73881;
}

footer{
    background-color: #151515;
}

.grey-section p.lead{
    color: #000000;
}
